# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
    IndexIgnore */*
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    # Enable mod_rewrite
    RewriteEngine On
    #Send all /backend requests to backend/web folder
    RewriteRule ^backend(/.*)$ backend/web/$1 [L,PT]
    #Send all /swagger requests to api/web/swagger folder
    RewriteRule ^swagger(/.*)$ api/web/swagger/$1 [L,PT]
    #Send all /api requests to api/web folder
    RewriteRule ^api(/.*)$ api/web/$1 [L,PT]
    #Send all /frontend requests to frontend/web folder
    RewriteRule ^frontend(/.*)$ frontend/web/$1 [L,PT]
    #Send all / (root) requests to angular/ folder
    RewriteRule ^(.*)$ angular/$1
</IfModule>

php_value xdebug.remote_enable on
php_value xdebug.remote_handler dbgp

php_value xdebug.remote_host 127.0.0.1
php_value xdebug.remote_port 9000
php_value xdebug.idekey "netbeans-xdebug"