<map center="41.850033,-87.6500523" zoom="3">
    <info-window id="1" position="41.850033,-87.6500523" visible="true">
        <div ng-non-bindable="">
            Chicago, IL<br>
            LatLng: {{chicago.lat()}}, {{chicago.lng()}}, <br>
            World Coordinate: {{worldCoordinate.x}}, {{worldCoordinate.y}}, <br>
            Pixel Coordinate: {{pixelCoordinate.x}}, {{pixelCoordinate.y}}, <br>
            Tile Coordinate: {{tileCoordinate.x}}, {{tileCoordinate.y}} at Zoom Level {{map.getZoom()}}
        </div>
    </info-window>
</map>